@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #F761A1;
$secondary: #8C1BAB;
$gray: #898989;

.form__group 
{
    position: relative;
}

.data-list {
    display: flex;
    flex-direction: column;
}

.data-list > div {
    display: flex;
    @apply py-4;
    @apply justify-between;
    @apply border-b-[1px];
}

.data-list > div:last-child {
    border-bottom: 0;
}

.data-list > div > span:nth-child(2) {
    text-align: right;
    @apply font-semibold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form__field 
{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }    
}

/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #0066ff;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 100%;
}

.button-5:hover,
.button-5:focus {
    background-color: #2079ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #0053cf;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.form__label 
{
    top: 0;
    display: block;
    transition: 0.1s;
    font-size: 1rem;
    color: $gray;
    pointer-events: none;
    margin-bottom: 0;
}

.iti {
    width: 100%;
}
.iti__selected-flag {
    background: none!important
}

.form__field:focus 
{
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.1s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;    
    }

    padding-bottom: 6px;  
    font-weight: 700;
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field
{
    font-weight:700;    
    &:required,&:invalid { box-shadow:none; }
}

.iti--separate-dial-code .iti__selected-dial-code 
{
    flex: 1;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: right;
    padding-bottom: 2px;
}